/* ---------- CSS styles ---------- */

/* by TAG */

/* whole website */
body {
    background-color: rgb( 245, 245, 245 );
}

/* for table stiling */
td, th {
    border-bottom: 2px solid rgb( 100, 100, 100 );
}

tr :hover {
    background-color: rgb( 210, 210, 210 );
}

/* by ID */

/* message at the beginning of docs.html */
#important {
    background-color: rgb( 250, 240, 0 );
    width: 80%;
    line-height: 30px;
}

/* main content of the page */
 #main {
     margin-left: 12%;
     width: 88%;
}

/* sidebar on every page */
#sidebar {
    height: 100%;
    width: 11%;
    position: fixed;
    background-color: rgb( 210, 255, 210 );
    border-width: 10;
    border-color: rgb( 0, 170, 00 );
    border-style: solid;
    z-index: 1;
}

/* logo in docs.html */
#logo {
    float: right;
    width: 14%;
    height: 14%;
}

/* table of contents */
#table {
    background-color: rgb( 220, 220, 220 );
    margin-left: 1%;
    width: 14%;
}

/* shortcuts table */
#sctable {
    width: 30%;
}

/* long code block */
#code1 {
    background-color: rgb( 220, 220, 220 );
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    width: 22%;
}

#bbar {
    background-color: rgb( 30, 30, 30 );
    height: 160px;
    z-index: -1;
    margin-left: -8px;
    width: 101%;
    margin-bottom: -30px;
}

/* bottom bar left */
#btl {
    float: left;
    color: rgb( 255, 255, 255 );
    margin-left: 320px;
}

#bll1 {
    float: left;
    margin-left: -150px;
    margin-top: 60px;
}

#bll2 {
    float: left;
    margin-left: 40px;
    margin-top: 60px;
}

/* bottom bar right */
#btr {
    float: right;
    color: rgb( 255, 255, 255 );
    margin-right: 580px;
}

#blr1 {
    float: right;
    margin-top: 60px;
    margin-right: -180px;
}

#blr2 {
    float: right;
    margin-top: 60px;
    margin-right: 60px;
}

/* by CLASSES */

/* sidebar link */

.sblinks {
    line-height: 22px;
    padding-left: 5px;
}

/* download button */

.button {
    background-color: rgb( 255, 170, 0 );
    line-height: 23px;
    width: 7%;
    text-align: center;
}

/* code snippets */
.snip {
    background-color: rgb( 220, 220, 220 );
}