/* ---------- CSS styles ---------- */

/* by TAG */

/* whole website */
body {
    background-color: rgb( 245, 245, 245 );
}

/* for table stiling */
td, th {
    border-bottom: 2px solid rgb( 100, 100, 100 );
}

tr :hover {
    background-color: rgb( 210, 210, 210 );
}

/* by ID */

/* message at the beginning of docs.html */
#important {
    background-color: rgb( 250, 240, 0 );
    width: 80%;
    line-height: 30px;
}

/* main content of the page */
 #main {
     margin-left: 13%;
     width: 88%;
     z-index: 0;
}

/* sidebar on every page */
#sidebar {
    height: 94%;
    width: 11%;
    position: fixed;
    background-color: rgb( 210, 255, 210 );
    border-width: 8;
    border-color: rgb( 0, 170, 00 );
    border-style: solid;
    z-index: auto;
    border-radius: 6px;
}

/* logo in docs.html */
#logo {
    float: right;
    width: 14%;
    height: 14%;
}

/* table of contents */
#table {
    background-color: rgb( 220, 220, 220 );
    margin-left: 1%;
    width: 14%;
}

/* shortcuts table */
#sctable {
    width: 30%;
}

/* long code block */
#code1 {
    background-color: rgb( 220, 220, 220 );
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    width: 22%;
}

/* bottom bar*/
#bbar {
    background-color: rgb( 30, 30, 30 );
    height: 160px;
    width: 101%;
    display: grid;
    grid-row: auto;
    grid-column-gap: 12%;
    color: white;
}

#home-cell {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 15%;
    align-content: center;
}

#gh-cell {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 15%;
}

#gl-cell {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    width: 15%;
}

#down-cell {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    width: 15%;
}


/* bottom bar icons */
.bbar-icon {
    width: 60px;
    height: 60px;
}

/* top bar */
#topbar {
    height: 10%;
    background-color: rgb( 100, 100, 255 );
    border-width: 8px;
    border-style: solid;
    border-color: rgb( 60, 60, 200 );
}

/* by CLASSES */

/* sidebar link */
.sblinks {
    line-height: 22px;
    padding-left: 5px;
}

/* download button */
.button {
    background-color: rgb( 255, 170, 0 );
    line-height: 23px;
    width: 7%;
    text-align: center;
}

/* code snippets */
.snip {
    background-color: rgb( 220, 220, 220 );
}

/* line between divs */
.line {
    width: 99%;
    height: 10px;
    border-bottom: 1px solid black;
}